<header>
  <p>Шапка сайта. Повторяется на каждой странице.</p>
  <p>Как минимум здесь будет навигация по сайту. Возможно символы содружества: название, логотип, лозунг, гимн и т.д.</p>
  <nav>
    <ul>
      <li><a href="./main.html">Главная</a></li>
      <li>Соглашение</li> <!-- <a href="./agreement.html"></a>-->
      <li>
        <span>Учёт:</span>
        <li>Список участников</li>
        <li>Распределение долей/голосов (максимальное/текущее/минимальное)</li>
        <li>Фонд финансовый</li>
      </li>
      <li>
        <span>Полезная информация:</span>
        <li>Причины создания</li>
        <li>Опасения и возможные проблемы</li>
        <li>Мечты и возможные выгоды</li>
      </li>
    </ul>
  </nav>
</header>
